// _variables.scss

// Màu sắc
$mainCo1: rgb(31, 139, 74);
$mainCo2: rgb(31, 139, 74);
$bgCo1: #f4f4f4;
$bgCo2: rgba(57, 55, 55, 0.782);

// Font chữ
$font-family: 'Arial', sans-serif;
$font-size: 16px;

// Kích thước
$header-width: 10%;
$header-height: 150px;
$padding-medium: 16px;
$padding-large: 24px;
