// _variables.scss

// Màu sắc
$mainCo1: rgb(31, 139, 74);
$mainCo2: rgb(31, 139, 74);
$bgCo1: rgba(255, 253, 253, 0.833);

// Font chữ
$font-family: 'Arial', sans-serif;
$font-size: 16px;

// Kích thước
$header-width: 15%;
$header-height: 150px;
$padding-medium: 16px;
$padding-large: 24px;
